@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

    font: normal 100%/1.5 sans-serif;
    color: #fff;
    background-color: #70CACB;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.toggle {
    position: relative;
    background-image: url("../images/toggle.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    transition: all 0.5s linear;
}

.toggle:hover {
    background-image: url("../images/toggle-hover.svg");
    cursor: pointer;
}    

.bmd {
    background-image: url("../images/bernese-bw.svg");
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
    margin: 0 auto;
    margin-top: 5%;
}

.bmd:hover {
    background-image: url("../images/bernese.svg");
}

.ball-bounce {
    background-image: url("../images/ball.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    -webkit-animation: bounce 2s linear forwards alternate;
    animation: bounce 2s linear forwards alternate;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0px);
    }
    
    20% {
        -webkit-transform: translateY(250px);
    }
    
    40% {
        -webkit-transform: translateY(100px);
    }
    
    60% {
        -webkit-transform: translateY(250px);
    }
    
    80% {
        -webkit-transform: translateY(75px);
    }
    
    100% {
        -webkit-transform: translateY(250px);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    
    20% {
        transform: translateY(250px);
    }
    
    40% {
        transform: translateY(100px);
    }
    
    60% {
        transform: translateY(250px);
    }
    
    80% {
        transform: translateY(75px);
    }
    
    100% {
        transform: translateY(250px);
    }
}

.bmd-intro {
    text-align: center;
    -webkit-animation: scale 5s ease-in-out alternate infinite;
    animation: scale 5s ease-in-out alternate infinite;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1,1);
    }
    
    100% {
        -webkit-transform: scale(1.5,1.5);
    }
}

@keyframes scale {
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.5,1.5);
    }
}

.h2-bmd {
    text-align: center;
}

.arrow {
    position: relative;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    transition: all 0.5s linear;
    margin-left: 0.3%;
}
