@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

    font: normal 100%/1.5 sans-serif;
    color: #fff;
    background-color: #70CACB;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.banner {
    position: relative;
}

.toggle {
    background-image: url("../images/toggle2.svg");
    background-size: 50px 100px;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    transition: all 0.1s linear;
}

.toggle:hover {
    background-position: center top;
    cursor: pointer;
}    

.bmd {
    background-image: url("../images/bernese2.svg");
    background-size: 256px 512px;
    height: 256px;
    width: 256px;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: all 0.1s linear;
    margin: 0 auto;
    margin-top: 8%;
}

.bmd:hover {
    background-position: center top;
}

.ball-bounce {
    background-image: url("../images/ball.svg");
    background-repeat: no-repeat;
    background-size: 45px 45px;
    height: 300px;
    width: 400px;
    left: calc(50% - 200px);
    margin-top: 8%;
    position: absolute;
    -webkit-animation: bounce 2s linear forwards alternate;
    animation: bounce 2s linear forwards alternate;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0px);
    }
    
    20% {
        -webkit-transform: translateY(180px);
    }
    
    40% {
        -webkit-transform: translateY(25px);
    }
    
    60% {
        -webkit-transform: translateY(150px);
    }
    
    80% {
        -webkit-transform: translateY(45px);
    }
    
    100% {
        -webkit-transform: translateY(180px);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    
    20% {
        transform: translateY(180px);
    }
    
    40% {
        transform: translateY(25px);
    }
    
    60% {
        transform: translateY(180px);
    }
    
    80% {
        transform: translateY(45px);
    }
    
    100% {
        transform: translateY(180px);
    }
}

.bmd-intro {
    text-align: center;
    -webkit-animation: scale 5s ease-in-out alternate infinite;
    animation: scale 5s ease-in-out alternate infinite;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1,1);
    }
    
    100% {
        -webkit-transform: scale(1.5,1.5);
    }
}

@keyframes scale {
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.5,1.5);
    }
}

.h2-bmd {
    text-align: center;
}

.arrow {
    position: absolute;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    transition: all 0.5s linear;
    margin: 0.3%;
}
