@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

    font: normal 100%/1.5 sans-serif;
    color: #fff;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0 auto;
}

.bmd-title {
    color: #000;
    float: right;
    display: inline-block;
    padding-right: 1.5em;
    padding-top: .75em;
    color: #ef4136;
}

.header {
    background-color: #a2dadd;
    overflow: hidden;
    width: 100%;
    padding-bottom: 8%;
}

.banner {
    position: relative;
}

.bmd {
    background-image: url("../images/bernese2.svg");
    background-size: 256px 512px;
    height: 256px;
    width: 256px;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 8%;
}

.bmd:hover {
    background-position: center top;
}

.ball-bounce {
    background-image: url("../images/ball.svg");
    background-repeat: no-repeat;
    background-size: 45px 45px;
    height: 300px;
    width: 400px;
    left: calc(50% - 200px);
    margin-top: 8%;
    position: absolute;
    -webkit-animation: bounce 2s linear forwards alternate;
    animation: bounce 2s linear forwards alternate;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0px);
    }
    
    20% {
        -webkit-transform: translateY(180px);
    }
    
    40% {
        -webkit-transform: translateY(25px);
    }
    
    60% {
        -webkit-transform: translateY(150px);
    }
    
    80% {
        -webkit-transform: translateY(45px);
    }
    
    100% {
        -webkit-transform: translateY(180px);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    
    20% {
        transform: translateY(180px);
    }
    
    40% {
        transform: translateY(25px);
    }
    
    60% {
        transform: translateY(180px);
    }
    
    80% {
        transform: translateY(45px);
    }
    
    100% {
        transform: translateY(180px);
    }
}

.bmd-intro {
    text-align: center;
    -webkit-animation: scale 5s ease-in-out alternate infinite;
    animation: scale 5s ease-in-out alternate infinite;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1,1);
    }
    
    100% {
        -webkit-transform: scale(1.5,1.5);
    }
}

@keyframes scale {
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.5,1.5);
    }
}

.h2-bmd {
    text-align: center;
    color: #ef4136;
    max-width: 300px;
    margin: 0 auto;
}

.scrolldown {
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

.scrollup {
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

.btn-expand {
    margin-top: 1.25em;
    margin-left: 1.5em;
    height: 50px;
}   

.toggle-panel {
    max-height: 0;
    overflow: hidden;
    transition: all 200ms linear;
}

.toggle-panel-expand {
    max-height: 5em;
}

.nav li {
    display: inline-block;
    text-decoration: none;
    padding-top: 2em;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #a2dadd;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {

  color: #ef4136;
}

.body-copy {
    color: #000;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 5em;
}

hr {
    margin-top: .25em;
    margin-left: 3.75em; 
    margin-right: 3.75em; 
    border: 1px dotted #a2dadd;
}

.btns {
    padding-top: .75em;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    max-height: 10em;
}

.btns-center {
    text-align: center;
}

.btns:hover,
.btns:focus,
.btns:active,
.btns .btns-current,
.btns .btns-current:link,
.btns .btns-current:visited {

  color: #a2dadd;
}

.btn-about-expand {
    padding-top: 2em;
    color: #ef4136;
    text-align: center;
}

.about-panel {
    max-height: 0;
    overflow: hidden;
    transition: all linear 1s;
}

.about-open {
    max-height: 75em;
}

.about-issues-adopt-titles {
    color: #a2dadd;
    padding-bottom: .25em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.btn-issues-expand {
    color: #ef4136;
    text-align: center;
}

.issues-panel {
    max-height: 0;
    overflow: hidden;
    transition: all linear 1s;
}

.issues-open {
    max-height: 75em;
}

.btn-adopt-expand {
    color: #ef4136;
    text-align: center;
}

.adopt-panel {
    max-height: 0;
    overflow: hidden;
    transition: all linear 1s;
}

.adopt-open {
    max-height: 75em;
}

.st0 {
    fill:#080808;
} 

.st1 {
    fill:#864324;
} 

.st2 {
    fill:#D7D8D6;
} 

.st3 {
    fill:#DFE1DF;
} 

.st4 {
    fill:#171717;
} 

.st5 {
    fill:#C6AFC4;
}

.dog-svg {
    max-height: 15em;
    margin: auto 0;
    margin-top: 2em;
}

#paw {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 200ms ease;
}

.js-paw-active #paw {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
}

